footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-icons,
.contact-info {
    display: flex;
    gap: 10px;
    align-items: center;
}

.social-icons a img,
.contact-info i {
    width: 30px; /* Adjust the size of the icons as needed */
    height: 30px;
}

.contact-info p {
    margin: 0;
    font-size: 14px;
}
img{
    width: 30px;
    height: 30px
}