<footer>
    <div class="social-icons">
        <a href="https://www.instagram.com//sukruth_sateesh" target="_blank" title="Instagram">
            <img src="..\assets\images\Instagram_icon.png" alt="Instagram Logo">
        </a>
        <a href="https://www.linkedin.com/" target="_blank" title="LinkedIn">
            <img src="..\assets\images\linked_in.png" alt="LinkedIn Logo">
        </a>
        <a href="https://t.snapchat.com/KmNzNH34" target="_blank" title="Snapchat">
            <img src="..\assets\images\snapchat_icon.png" alt="Snapchat Logo">
        </a>
    </div>
    <div class="contact-info">
        <p><img src="..\assets\images\gmail_icon.png" alt="Email Icon"> sukruthsateesh&#64;gmail.com</p>
        <p><img src="..\assets\images\phone_icon.png" alt="Phone Icon"> +91 9611221022</p>
        <p>&copy; 2024 Suklingo. All rights reserved.</p>
    </div>
</footer>