
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        <a routerLink="kannada" routerLinkActive="active"><img src=".\assets\images\kannada_language.svg" class="card-img-top" alt="..."></a>
        <div class="card-body">
          <h5 class="card-title">ಕನ್ನಡ (Kannada)</h5>
          <p class="card-text">Kannada is a Dravidian language spoken predominantly in the Indian state of Karnataka. It is one of the 22 officially recognized languages of India and has a rich literary and cultural heritage.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <a routerLink="tamil" routerLinkActive="active"><img src=".\assets\images\tamil_language.png" class="card-img-top" alt="..."></a>
        <div class="card-body">
          <h5 class="card-title">தமிழ் (Tamil)</h5>
          <p class="card-text">Tamil is a Dravidian language with a rich linguistic and cultural heritage spoken predominantly in the Indian state of Tamil Nadu and in Sri Lanka, Singapore, Malaysia, and various other diaspora communities. It is one of the oldest classical languages in the world, with a literary history spanning over two millennia.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <a routerLink="hindi" routerLinkActive="active"><img src=".\assets\images\hindi_language.png" class="card-img-top" alt="..."></a>
        <div class="card-body">
          <h5 class="card-title">हिन्दी (Hindi)</h5>
          <p class="card-text">Hindi is one of the most widely spoken languages in the world and serves as the lingua franca for a significant portion of the Indian subcontinent. It is the official language of the Indian government and one of the 22 scheduled languages of India. </p>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>