<body>

    <div class="container-fluid"><h1>Suklingo- Learn Indian Languages</h1></div>
    <br>
      <img src="..\assets\images\India.jpg" alt=""><br><br>
        <div class="container">
            
            Namaste and a hearty welcome to our language learning hub dedicated to the vibrant tapestry of Indian languages. We are thrilled to embark on this linguistic journey with you!
        
        India, with its myriad cultures and traditions, boasts a treasure trove of languages, each with its own distinct charm and history. At Suklingo, we are on a mission to bring the beauty and depth of Indian languages to learners worldwide.
        
        Whether you're drawn to the rhythmic cadence of Hindi, the lyrical elegance of Kannada, the ancient wisdom embedded in Tamil, or any of the other fascinating languages we offer, our platform is designed to make your language learning experience enriching, interactive, and enjoyable.
        
        Discover the cultural nuances, delve into the linguistic intricacies, and unlock the door to a world of communication that extends far beyond words. Our team is passionate about fostering a community where learners not only gain language skills but also connect with the heart and soul of India.
        
        Explore our diverse range of resources, from engaging lessons and interactive exercises to cultural insights and native speaker interactions. Join us in celebrating the linguistic tapestry that makes India unique, and let's embark on a journey of discovery and connection together.
        
        Ready to dive into the world of Indian languages? Start your learning adventure now, and let the magic of language unfold before you.
        
        Dhanyavaadagalu (Thank you) for choosing Suklingo. Let's learn, connect, and celebrate the beauty of Indian languages together!
        
        </div><br><br>
        <br>
        <br>
        <h1>Languages By Suklingo</h1>
      <br><br>
      <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <a routerLink="/Languages/kannada" routerLinkActive="active"><img src="..\assets\images\kannada.jpg" class="d-block w-100" alt="..."></a>
            <div class="carousel-caption d-none d-md-block">
              <h5>ಕನ್ನಡ (Kannada)</h5>
              <p> 
                Kannada is a Dravidian language spoken predominantly in the Indian state of Karnataka. It is one of the 22 officially recognized languages of India and has a rich literary and cultural heritage.  Kannada is the official language of the state of Karnataka and is spoken by the majority of its population. Learning Kannada can be particularly beneficial if you plan to live, work, or travel in Karnataka or other regions where Kannada is spoken.</p>
            </div>
          </div>
          <div class="carousel-item">
            <a routerLink="/Languages/tamil"><img src="..\assets\images\tamil.jpg" class="d-block w-100" alt="..."></a>
            <div class="carousel-caption d-none d-md-block">
              <h5>தமிழ் (Tamil)</h5>
              <p>Tamil is a Dravidian language with a rich linguistic and cultural heritage spoken predominantly in the Indian state of Tamil Nadu. </p>
            </div>
          </div>
          <div class="carousel-item">
            <a routerLink="/Languages/hindi" routerLinkActive="active"><img src="..\assets\images\Hindi.jpg" class="d-block w-100" alt="..."></a>
            <div class="carousel-caption d-none d-md-block">
              <h5>हिन्दी (Hindi)</h5>
              <p>Hindi is one of the most widely spoken languages in the world and serves as the lingua franca for a significant portion of the Indian subcontinent. It is the official language of the Indian government and one of the 22 scheduled languages of India. As an Indo-Aryan language, Hindi is characterized by its rich literary tradition, encompassing classical texts, modern literature, and a vibrant film industry commonly known as Bollywood.</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <br>
      <br>
      <div class="get-started">
        <h2>We are thrilled to have you on our website!!</h2>
        <a routerLink="/subscription" routerLinkActive="active"><button class="started">Get started</button></a>
      </div>
      <br>
      <br>
      <br>
    </body>
    <app-footer></app-footer>