<h1>You’re just a click away from learning a new language</h1>
<h4>Choose your subscription and get started</h4>

<div class="card-container">
    <div class="card">
      <img src="..\assets\images\card1.png" alt="Card Image">
      <div class="card-content">
        <h3>3 Months</h3>
        <br>
        <h5>₹120/mo</h5>
        <br>
        <a routerLink="page"><button>Get Started</button></a>
        <br>
        <h3>₹360</h3>
      </div>
    </div>

    <div class="card">
      <img src="..\assets\images\card2.png" alt="Card Image">
      <div class="card-content">
        <h3>6 Months</h3>
        <br>
        <h5>₹100/mo</h5>
        <br>
        <a routerLink="page"><button>Get Started</button></a>
        <br>
        <h3>₹600</h3>
      </div>
    </div>

    <div class="card">
      <img src="..\assets\images\card3.png" alt="Card Image">
      <div class="card-content">
        <h3>Lifetime</h3>
        <br>
        <h5>₹1500</h5>
        <br>
        <a routerLink="page"><button>Get started</button></a>
        <br>
        <h3>Access to ALL Languages</h3>
      </div>
    </div>
  </div>
